params {
    kraken_database = "/home/ubuntu/data/kraken2_dbs/PlusPF/"
    threads = 25
    outdir = false
    expunge_ref_idx = "/home/ubuntu/data/human_ref.mmi"
    help = false
    expunge = false
    barcodes = 0
    bracken_tax_level = "S"
    polish = false
    assemble = false
}   

executor {
    queueSize = 2
}